{% extends "templatepage.html" %}




{% block content %}

<div class="main container-bot"> 
    <h1>Si vous êtes ici, c'est surement que vous voulez en apprendre plus sur nous ...</h1>
    <br>
    <br>
    <h4><p>Tout d'abord, nous sommmes des étudiants de TELECOM NANCY. Cette application a d'ailleurs été créée dans le cadre d'un Projet Pluridisciplinaire d'Informatique Intégrative.</p>
        <br>
        <p>A REMPLIR, J'AI LAISSE LE TEXTE DE L'ANCIEN PROJET AU CAS OU VOUS VOUDRIEZ VOUS INSPIRER</p>
        <p>PS : IL EST VRAI QUE JE POURRAI LE FAIRE MOI MÊME, A VOIR SI J'Y PENSE</p>
        <p>L'objectif de ce site est de renforcer les liens entre les citoyens d'une même ville mais aussi de faciliter la prise
            de décision de la mairie. En effet, nous mettons à disposition un outil permettant aux mairies de consulter les citoyens
            pour de futurs projets via un système de vote. De plus, les citoyens peuvent poster des demandes ou des offres de services
            qui pourront être vu et accepté par les autres citoyens.
        </p>
        <br>
        <p>
            Thomas KIEFFER, Nathan IORI-GINGEMBRE, Julien DE TOFFOLI et Pierre PASQUIER sont fiers de vous présenter ce projet
            abouti sous le nom de TuNom !
        </p>
    </h4>
</div>

{% endblock %}