{% extends "templatepage.html" %}




{% block content %}

<div class="main container-bot"> 
    <h1>Si vous êtes ici, c'est surement que vous voulez en apprendre plus sur nous ...</h1>
    <br>
    <br>
    <h4><p>Tout d'abord, nous sommmes des étudiants de TELECOM NANCY. Cette application a d'ailleurs été créée dans le cadre d'un Projet Pluridisciplinaire d'Informatique Intégrative.</p>
        <br>
        <p>L'objectif de ce site est de fournir un jeu de Wordle, mais en apportant notre touche personnelle.
            En effet, il est possible de profiter de l'expérience wordle classique à l'aide du mode libre,
            mais également de participer à un mot du jour et au mode survie, permettant aux joueurs chevronnés de mettre
            au défi connaissances et endurance face à une suite interminable de mots. </p>
        <p>Tout cela en ayant la possibilité une fois connecté, de bénéficier d'un historique des parties, d'une progression
            au fil des parties via des badges et de l'expérience, ainsi qu'un classement des meilleurs temps des joueurs pour 
            le mode survie.
        </p>
        
        </p>
        <br>
        <p>
            Thomas KIEFFER, Nathan IORI-GINGEMBRE, Julien DE TOFFOLI et Pierre PASQUIER sont fiers de vous présenter ce projet
            abouti sous le nom de TuNom !
        </p>
    </h4>
</div>

{% endblock %}