{%extends "templatepage.html" %}

{% block content %}
<link rel="stylesheet" href='/static/style_classement.css'>

{%if id_user==0 or rangid==0%}
{%else%}
<h1 style="margin-top: 80px; margin-left: 37%;">Classement personnel :</h1>
<div class="boite">
    {% if rangid==1 %}
    {%else%}
    <div class="inside">
    <div class="rank">{{advdessusrang}}</div>
    <div class="pseudo">{{advdessuspseudo}}</div>
    <div class="temps">{{advdessusminute}}:
        {%if 10>advdessusseconde %}
        0{{advdessusseconde}}
        {%else%}
        {{advdessusseconde}}
        {%endif%}</div>
    </div>
    <br>
    {%endif%}
    <div class="inside">
    <div class="rank">{{rangid}}</div>
    <div class="pseudo">{{pseudoid}}</div>
    <div class="temps">{{minuteid}}:
        {%if 10>secondeid %}
        0{{secondeid}}
        {%else%}
        {{secondeid}}
        {%endif%}</div>
    </div><br>
    {% if rangid==ranglast %}
    {%else%}
    <div class="inside">
    <div class="rank">{{advdessousrang}}</div>
    <div class="pseudo">{{advdessouspseudo}}</div>
    <div class="temps">{{advdessousminute}}:
        {%if 10>advdessousseconde %}
        0{{advdessousseconde}}
        {%else%}
        {{advdessousseconde}}
        {%endif%}</div>
    </div>
    {%endif%}
</div>
{%endif%}

<h1 style="margin-top: 80px; margin-left: 42%;">Classement :</h1>
<div class="boite"> 
{% for (pseudo,idd,minute,seconde,rang) in ranks %}
        <div class="inside">
            {%if rang==1 %}
            <div class="rank g">{{rang}}</div>
            {%else%}{%if rang==2%}
            <div class="rank s">{{rang}}</div>
            {%else%}{%if rang==3%}
            <div class="rank b">{{rang}}</div>
            {%else%}
            <div class="rank">{{rang}}</div>
            {%endif%}{%endif%}{%endif%}
            <div class="pseudo">{{pseudo}}</div>
            <div class="temps">{{minute}}:
                {%if 10>seconde %}
                0{{seconde}}
                {%else%}
                {{seconde}}
                {%endif%}</div>


        </div>
        <br>
{% endfor %}

</div>
<br><br><br><br><br><br><br><br>




{% endblock %}