{%extends "templatepage.html" %}

{% block content %}
<link rel="stylesheet" href='/static/style_classement.css'>

<h1 style="margin-top: 80px; margin-left: 42%;">Classement personnel :</h1>



<h1 style="margin-top: 80px; margin-left: 42%;">Classement :</h1>
<div class="boite"> 
{% for (pseudo,minute,seconde,rang) in ranks %}
        <div class="inside">
            {%if rang==1 %}
            <div class="rank g">{{rang}}</div>
            {%else%}{%if rang==2%}
            <div class="rank s">{{rang}}</div>
            {%else%}{%if rang==3%}
            <div class="rank b">{{rang}}</div>
            {%else%}
            <div class="rank">{{rang}}</div>
            {%endif%}{%endif%}{%endif%}
            <div class="pseudo">{{pseudo}}</div>
            <div class="temps">{{minute}}:{{seconde}}</div>


        </div>
        <br>
{% endfor %}

</div>





{% endblock %}