{% extends "templatepage.html" %}

{% block content %}
        <div class="main container-bot"> 
            <h1>Veuillez entrer votre identifiant et votre mot de passe pour vous connecter :</h1>
                <form method="POST">
                    <p>
                        Identifiant
                        <input minlength="4" required type="email" name="mail" placeholder="Identifiant">
                    </p>
                    <p>
                        Mot de passe
                        <input minlength="4" maxlength="20" required type="password" name="mdp" placeholder="Mot de passe">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </p>
                </form>
                {% if erreur == True %}
                <p style="color:#FF0000">Identifiant ou mot de passe invalide.</p>
                <p>Si vous ne possédez pas de compte, veuillez vous inscrire : </p>
                <div id="v-pills-tab" role="tablist" >
                    <button class="btn btn-primary"><a style="color:#ffffff" href='/inscription'>S'inscrire</a></button>
                  </div> 
                {% endif %}
                {% if pas_inscrit == True %}
                <p style="color:#FF0000">Cette adresse mail ne correspond à aucun utilisateur</p>
                <p>Veuillez vous inscrire ici : </p>
                <div id="v-pills-tab" role="tablist" >
                    <button class="btn btn-primary"><a style="color:#ffffff" href='/inscription'>S'inscrire</a></button>
                  </div>
                {% endif %}
                <br>
                <p>Pas inscrit ? <a href="/inscription" style="float:none; color: #ffba3a;text-decoration: underline;">Inscrivez vous</a>
                    afin de pouvoir conserver votre progression !</p>
                

        </div>  


{% endblock %}