{% extends "templatepage.html" %}




{% block content %}

<div class="main container-bot"> 
    <h1>En cas de problème :</h1>
    <br>
    <br>
    <h4>
      Contactez nous par mail :
      <br><br>
      <ul>
        <li>
          Thomas KIEFFER (Chef de projet - Développeur): Thomas.Kieffer@telecomnancy.eu
        </li>
        <br>
        <li>
          Nathan IORI-GINGEMBRE (Développeur - Testeur) : Nathan.Iori-Gingembre@telecomnancy.eu
        </li>
        <br>
        <li>
          Julien DE TOFFOLI (Responsable Design - Développeur): Julien.De-Toffoli@telecomnancy.eu
        </li>
        <br>
        <li>
          Pierre Pasquier (Développeur - Testeur) : Pierre.Pasquier@telecomnancy.eu
        </li>
      </ul>
    </h4>
      

    </div>

    {% endblock %}