{% extends "templatepage.html" %}




{% block content %}

        <div class="main container-bot"> 
          <div class="box">
            <div>
              <br>
              <h1>MODE LIBRE</h1>
              <p>
                Dans ce mode de jeu, vous pourrez librement vous entrainer et paramétrer vos propres parties!
              </p>
              <p>euh mettre les params ici? voir pour lock le bouton si pas tt data?</p>
              <button class="btn btn-primary"><a style="color:#000000;" href="{{url_for('partie_libre',id=id_user)}}">Lancer une partie</a></button>
              <br><br>
              {%if id_user==0 %}
              <button class="btn btn-primary" disabled style="background-color: rgb(235, 157, 56); border-color:rgb(209, 124, 12);">
                <a style="color:#000000;" href='###'>Historique des parties</a></button>
              {%else%}
              <button class="btn btn-primary"><a style="color:#000000;" href='###'>Historique des parties</a></button>
              {%endif%}
            </div>

            <div>
              <br>
              <h1>MODE JOURNALIER</h1>
              <p>
                Dans ce mode de jeu, retrouvez le mot du jour afin de gagner de l'expérience!
              </p>
              {%if bool==True%}
              <p>Vous avez déjà participé aujourd'hui</p>
              <button class="btn btn-primary" disabled style="background-color: rgb(235, 157, 56); border-color:rgb(209, 124, 12);">
                <a style="color:#000000;" href='###'>Trouver le mot du jour</a></button>
              {%else%}{%if id_user==0%}
              <p>Veuillez vous connecter pour participer</p>
              <button class="btn btn-primary" disabled style="background-color: rgb(235, 157, 56); border-color:rgb(209, 124, 12);">
                <a style="color:#000000;" href='###'>Trouver le mot du jour</a></button>
              {%else%}
              <p>Il vous reste 1 tentative journalière</p>
              <button class="btn btn-primary"><a style="color:#000000;" href='{{url_for("daily",id=id_user)}}'>Trouver le mot du jour</a></button>
              {%endif%}{%endif%}
              <br><br>
              {%if id_user==0 %}
              <button class="btn btn-primary" disabled style="background-color: rgb(235, 157, 56); border-color:rgb(209, 124, 12);">
                <a style="color:#000000;" href='###'>Historique des parties</a></button>
              {%else%}
              <button class="btn btn-primary"><a style="color:#000000;" href='###'>Historique des parties</a></button>
              {%endif%}
            </div>
            

            <div>
              <br>
              <h1>MODE SURVIE</h1>
              <p>
                Dans ce mode de jeu, à vos chronomètre! Plus vous tenez longtemps, meilleur sera votre score !</a>
              </p>
                <button class="btn btn-primary"><a style="color:#000000;" href="{{url_for('mode_survie',id=id_user)}}">Prêt, feu, partez !</a></button>
              <br><br>
              <button class="btn btn-primary"><a style="color:#000000;" href='###'>Classement</a></button>
              <br><br>
              {%if id_user==0 %}
              <button class="btn btn-primary" disabled style="background-color: rgb(235, 157, 56); border-color:rgb(209, 124, 12);">
                <a style="color:#000000;" href='###'>Historique des parties</a></button>
              {%else%}
              <button class="btn btn-primary"><a style="color:#000000;" href='###'>Historique des parties</a></button>
              {%endif%}
            
            </div>
          </div>
          
        
{% endblock %}