{% extends "templatepage.html" %}
<!--
{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
--> 

{% block content %}
  <h1>nom de la page child</h1>
  <p class="important">
    Welcome on my awesome homepage.
        <div class="main container-bot"> 
          <h1>Bienvenue sur notre Help&Go !</h1>
          <div>
            <button class="btn btn-primary"><a style="color:#ffffff" href='/connexion'>Se connecter</a></button>
            <button class="btn btn-primary"><a style="color:#ffffff" href='/inscription'>S'inscrire</a></button>
          </div>
          <p>Vous êtes un citoyen à la recherche d'une personne pour tondre votre gazon, garder vos enfants le temps d'une soirée ou encore vous aider à monter un meuble ?</p>
          <p>Ce site est fait pour vous ! En quelques clics seulement vous pourrez poster votre annonce et choisir la personnes qui vous convient parmis les postulants.</p>
          <p>Et si au contraire vous voulez proposer vos services aux citoyens de votre ville, on a aussi pensé à vous !</p>
          <p>Vous n'avez qu'à décrire les services que vous pourrez effectuer. Cette liste sera visible par tous et on pourra vous contacter en un instant.</p>
          <p> Alors n'attendez plus et inscrivez vous :</p>
          <div id="v-pills-tab" role="tablist" >
            <button class="btn btn-primary"><a style="color:#ffffff" href='/inscription'>S'inscrire</a></button>
          </div>
        </div>  
        </div>
{% endblock %}