{%extends "templatepage.html"%}

{% block content %}
        <div class="main container-bot"> 
            <h1>Inscription :</h1>
            <form class="px-4 py-3" method="POST">
                <p><div class="form-group">
                <label for="mail">Adresse mail</label>
                <input required name="mail" type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="email@exemple.com">
                <p><small id="emailHelp" class="form-text text-muted" style="color:#625f5f">Votre adresse mail ne sera jamais divulguée nul part.</small></p>
                </div></p>
                <p>
                    {% if inscrit == True %}
                    <div style="color:#FF0000">
                        Vous êtes déja inscris. Veuillez vous connecter ici :
                        <button type="submit" class="btn btn-primary"><a style="color:#ffffff" href='/connexion'>Se connecter</a></button>
                    </div>
                    {% endif %}
                </p>
                
                <div class="form-group">
                    <label for="numTel">Numéro de Téléphone (facultatif)</label>
                    <input name="numTel" type="tel" pattern="[0-9]{10}" class="form-control" id="mdp" placeholder="Numéro de téléphone">
                    <p><small id="emailHelp" class="form-text text-muted" style="color:#625f5f">Format : 0123456789</small></p>
                </div></p>

                <p><div class="form-group">
                    <label for="pseudo">Pseudonyme</label>
                    <input minlength="4" maxlength="20" required name="pseudo" type="text" class="form-control" id="pseudo" placeholder="Pseudonyme">
                    <p><small id="emailHelp" class="form-text text-muted" style="color:#625f5f">Votre pseudo doit contenir entre 4 et 20 caractères</small></p>
                </div></p>
                <p>
                    {% if pris == True %}
                    <div style="color:#FF0000">
                        Ce pseudonyme est deja pris. Veuillez en choisir un autre
                    </div>
                    {% endif %}
                </p>


                <p><div class="form-group">
                    <label for="mdpasse">Mot de passe</label>
                    <input minlength="4" maxlength="20" required name="mdp" type="password" class="form-control" id="mdpasse" placeholder="Mot de passe">
                    <p><small id="emailHelp" class="form-text text-muted" style="color:#625f5f">Votre mot de passe doit contenir entre 4 et 20 caractères</small></p>
                    <input type="checkbox" onclick="Afficher('mdpasse')"> Afficher le mot de passe
                    <script>
                    function Afficher(m)
                    { 
                    var input = document.getElementById(m);
                    if (input.type === "password")
                    {input.type = "text";} 
                    else
                    {input.type = "password";}
                    }
                    </script>
                </div></p>

                <p><div class="form-group">
                    <label for="mdpverif">Vérification du mot de passe</label>
                    <input minlength="4" maxlength="20" required name="mdpverif" type="password" class="form-control" id="mdpverif" placeholder="Vérification mot de passe">

                    <input type="checkbox" onclick="Afficher('mdpverif')"> Afficher la vérification du mot de passe       
                </div>
                {% if egal == False %}
                <div style="color:#FF0000">
                    Les deux mots de passe indiqués ne sont pas identiques
                </div>
                {% endif %}
                <p><div>
                    <input type="submit" class="btn btn-primary" value="S'inscrire"></input>
                </div></p>
            </form>

{% endblock %}

