{%extends "templatepage.html"%}
{%block content%}
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/ui-lightness/jquery-ui.css" />
    <script>
var mot_à_deviner="{{mot_à_deviner}}";
var longueur_mot={{longueur_mot}};
var nombre_dessais=10;
var mots={{mots|safe}};
let TempsSurvécu = 0;
var DimChrono;
    </script>
    <div class="top">
    <div class="circleG" id="chrono" >
                00:00
    </div>
    <div  class="historiqueV" id="background">
                 
    </div>
</div>
    <div class="midsurvie">
        {%for i in range(0,10)%}
            {%for j in range(0,longueur_mot)%}
            <input type='text' name='letter' class='case' maxlength='1' autocomplete="off" disabled> 
            {%endfor%}
            <br>
        {%endfor%}

    </div>

<div class="hidden">
    <form method="POST" name="myform">
        <input type="text" name="tempssurvie" class="notime">
        <input type="text" name="motsàdeviner" class="toguess">
        <input type="text" name="motsdonnés" class="given">
    </form>

</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

    <script src="{{url_for('static', filename='survie.js')}}"></script>
    <script src="{{ url_for('static', filename='decompte2.js') }}"></script>
{%endblock%}