<style>
    div.case{
    height:50px;
    width: 50px;
    border: 1px solid grey;
    border-radius:6px;
    text-transform: uppercase;
    color:white;
    text-align: center;
    font-family: Sans; /* à décider */
    font-weight: bold;
    font-size: 24px;
    padding:3px;
    background-color: grey;
    }

    div.case.g{
        background-color: rgb(23, 182, 23);
    }

    div.case.y{
        background-color:gold;
    }
    .mid{
    margin-left : 20%;
    margin-right : 20%;
    border: solid .5px gray;
    border-radius:12px;
    padding: 20px;
    text-align: center;
    }
</style>
<div class="mid">
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <br>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    <div class="case">A</div>
    
    
    
</div>

