{% extends "templatepage.html" %}

{% block content %}
        <div class="main container-bot"> 
          <h1>Veuillez consulter votre boite mail et entrer le code que nous venons de vous envoyer</h1>
            <form method="POST">
                <p>
                    <input required type="text" maxlength ="4" minlength="4" name="code" placeholder="Code">
                </p>
                <p>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </p>
            </form>
            {% if erreur == True %}  
            <p style="color:#ff0101">Le code entré n'est pas valide.</p>
            {% endif %}
        </div>    

{% endblock %}